@using Album.PL.Web.Models
@using Album.Entities
@{
    var WebPL = new WebAlbumPL();

    var type = Request["type"];
    bool canEdit = false;
    string placeholder = "";

    if (User.IsInRole("admin"))
    {
        canEdit = true;
    }

    IEnumerable<Photo> photos = null;

    switch (type)
    {
        case "my":
            {
                canEdit = true;
                var user = WebPL.GetUserByLogin(User.Identity.Name);
                photos = WebPL.GetPhotosByUserId(user.Id);
                placeholder = "У вас пока нет ни одной фотографии :( . Поделитесь новыми снимками!";
            }
            break;
        case "user":
            {
                Guid userId;
                Guid.TryParse(Request["userId"], out userId);

                var user = WebPL.GetUserById(userId);

                if (user != null)
                {
                    photos = WebPL.GetPhotosByUserId(user.Id);
                }
                placeholder = $"Пользователь {user.Name} пока не разместил ни одной фотографии :( . Заглядывайте сюда почаще, чтобы не пропустить новые кадры!";
            }
            break;
        case "popular":
            photos = WebPL.GetMostPopularPhotos();
            break;
        default:
            photos = WebPL.GetMostPopularPhotos();
            break;
    }

    if (photos.Count() != 0)
    {
        int i = 0;
        foreach (var photo in photos)
        {
            i++;
            var tags = WebPL.GetTagsByPhotoId(photo.Id);
            var comments = WebPL.GetCommentsByPhotoId(photo.Id);
            int avgRating = WebPL.GetAvgRatingByPhotoId(photo.Id);
            int myRating = WebPL.GetRatingByPhotoIdUserLogin(photo.Id, User.Identity.Name);
            <text>
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4">

                    <!--Modal: Name-->
                    <div class="modal fade" id="main_photo_@i.ToString()" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg photo_viewer_modal" role="document">

                            <!--Content-->
                            <div class="modal-content">

                                <!--Body-->
                                <div class="modal-body">
                                    <div class="row p-2">
                                        <div class="col-8">
                                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                <img class="embed-responsive-item" id="@photo.Id" src="/Images/Photos/@photo.FileName" />
                                            </div>
                                            <div>
                                                <h4 class="text-muted">Фото пользователя @WebPL.GetUserById(photo.UserId).Name</h4>
                                                <small>Теги:</small>
                                                @foreach (var tag in tags)
                                                {
                                                    <text>
                                                        <div class="photo_tag"><small>@tag.TagName</small></div>
                                                    </text>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-4 comments">
                                            <div class="comments_header"><h4 class="text-muted text-center">Комментарии:</h4></div>
                                            <div class="comments_list">
                                                @foreach (var comment in comments)
                                                {
                                                    <text>
                                                        <div class="photo_comment">
                                                            <div class="photo_comment_header">@WebPL.GetUserById(comment.AuthorId).Name</div>
                                                            <div class="photo_comment_text">@comment.Text</div>
                                                        </div>
                                                    </text>
                                                }
                                            </div>
                                            <div class="add_comment_wrapper">
                                                <div class="comment_area_wrapper">
                                                    <textarea class="add_comment_text" placeholder="А что вы думаете по этому поводу?"></textarea>
                                                </div>
                                                <div class="btn_comment_wrapper">
                                                    <button class="btn btn-sm btn-success btn_add_comment">Отправить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Footer-->
                                <div class="modal-footer justify-content-center">

                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Закрыть</button>

                                </div>

                            </div>
                            <!--/.Content-->

                        </div>
                    </div>
                    <!--Modal: Name-->

                    <a>
                        <img class="img-fluid z-depth-1" src="/Images/Photos/@photo.FileName" alt="Фотография"
                             data-toggle="modal" data-target="#main_photo_@i.ToString()">
                    </a>

                </div>
                <!-- Grid column -->
            </text>
        }
    }
    else
    {
        <text>
            <h4 class="text-dark text-center">@placeholder</h4>
        </text>
    }
}