@using Album.PL.Web.Models
@using Album.Entities
@{
    var WebPL = new WebAlbumPL();

    var type = Request["type"];
    bool canEditPhoto = false;
    string placeholder = "";

    if (User.IsInRole("admin"))
    {
        canEditPhoto = true;
    }

    IEnumerable<Photo> photos = null;

    switch (type)
    {
        case "my":
            {
                canEditPhoto = true;
                var user = WebPL.GetUserByLogin(User.Identity.Name);
                if (user != null)
                {
                    photos = WebPL.GetPhotosByUserId(user.Id);
                    placeholder = "У вас пока нет ни одной фотографии :( . Поделитесь новыми снимками!";
                }
                placeholder = "Вы не вошли в систему.";
            }
            break;
        case "user":
            {
                Guid userId;
                Guid.TryParse(Request["userId"], out userId);

                var user = WebPL.GetUserById(userId);

                if (user != null)
                {
                    photos = WebPL.GetPhotosByUserId(user.Id);
                    placeholder = $"Пользователь {user.Name} пока не разместил ни одной фотографии :( . Заглядывайте сюда почаще, чтобы не пропустить новые кадры!";
                }
                else
                {
                    placeholder = $"Пользователь не существует. Возможно его профиль был удален администратором.";
                }
            }
            break;
        case "tag":
            {
                string tagsStr = Request["tags[]"];
                if (tagsStr != null)
                {
                    var tags = new List<string>(tagsStr.Split(','));
                    int i = 0;
                    foreach (var tag in tags.Where(tag => tag != ""))
                    {
                        if (i == 0)
                        {
                            photos = WebPL.GetPhotosByTag(tag);
                        }
                        else
                        {
                            photos = WebPL.PhotosIntersect(photos, WebPL.GetPhotosByTag(tag));
                        }
                        i++;
                    }
                    if (photos.Count() == 0)
                    {
                        placeholder = "Фотографий, удовлетворяющих условиям поиска не найдено.";
                    }

                }
            }
            break;
        case "most_rated":
            photos = WebPL.GetMostRatedPhotos();
            break;
        case "reg_count":
            photos = WebPL.GetMostRegardsCountPhotos();
            break;
        case "most_commented":
            photos = WebPL.GetMostCommentedPhotos();
            break;
        default:
            photos = WebPL.GetMostRegardsCountPhotos();
            break;
    }

    if (photos != null && photos.Count() != 0)
    {
        int i = 0;
        foreach (var photo in photos)
        {
            i++;
            var tags = WebPL.GetTagsByPhotoId(photo.Id);
            var comments = WebPL.GetCommentsByPhotoId(photo.Id);
            string avgRating = WebPL.GetAvgRatingByPhotoId(photo.Id).ToString("0.##"); ;
            int myRating = WebPL.GetRatingByPhotoIdUserLogin(photo.Id, User.Identity.Name);
            <text>
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4 photo_wrapper">

                    <!--Modal: Name-->
                    <div class="modal fade" id="main_photo_@i.ToString()" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg photo_viewer_modal" role="document">

                            <!--Content-->
                            <div class="modal-content">

                                <!--Body-->
                                <div class="modal-body">
                                    <input type="hidden" class="photo_modal_id" value="@photo.Id" />
                                    <div class="row p-2">
                                        <div class="col-8">
                                            <h4 class="text-muted text-center">Фото пользователя @WebPL.GetUserById(photo.UserId).Name. Добавлено @photo.Date</h4>
                                            <div class="photo_modal_image_wrapper">
                                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                    <img class="embed-responsive-item" id="@photo.Id" src="/Images/Photos/@photo.FileName" />
                                                </div>
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <div class="text-light rating_modal">
                                                        <img src="~/Images/dislike.png" />
                                                        @for (int j = -2; j <= 2; j++)
                                                        {
                                                            string curRating = "";
                                                            if (myRating == j)
                                                            {
                                                                curRating = "cur_rating";
                                                            }
                                                            <text><h5 class="@curRating default_rating my_rating_modal">@j</h5></text>
                                                        }
                                                        <img src="~/Images/like.png" />
                                                    </div>
                                                }
                                            </div>
                                            <h4 class="text-muted avg_rating_modal">Средний рейтинг: <span class="text-info">@avgRating</span></h4>
                                            <div class="photo_viewer_taglist">
                                                <div><small>Теги:</small></div>
                                                @foreach (var tag in tags)
                                                {
                                                    <text>
                                                        <div class="photo_tag"><small>@tag.TagName</small></div>
                                                    </text>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-4 comments">
                                            <div class="comments_header"><h4 class="text-muted text-center">Комментарии:</h4></div>
                                            <div class="comments_list">
                                                @foreach (var comment in comments)
                                                {
                                                    bool canEditComment = false;
                                                    string headerClass = "text-info";

                                                    if (User.IsInRole("admin") || WebPL.GetUserById(comment.AuthorId).Login == User.Identity.Name)
                                                    {
                                                        canEditComment = true;
                                                        headerClass = "text-success";
                                                    }
                                                    <text>
                                                        <div class="border-top border-bottom border-primary photo_comment">
                                                            <div class="@headerClass photo_comment_header">
                                                                <input type="hidden" class="comment_id" value="@comment.Id" />
                                                                @WebPL.GetUserById(comment.AuthorId).Name
                                                                @if (canEditComment)
                                                                {
                                                                    <text>
                                                                        <button type="button" class="close btn_del_comment" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </text>
                                                                }
                                                            </div>
                                                            <div class="small">Отправлено: @comment.Date</div>
                                                            <div class="photo_comment_text">@comment.Text</div>
                                                        </div>
                                                    </text>
                                                }
                                            </div>
                                            <div class="add_comment_wrapper">
                                                <div class="comment_area_wrapper">
                                                    <textarea class="add_comment_text" placeholder="А что вы думаете по этому поводу?"></textarea>
                                                </div>
                                                <div class="btn_comment_wrapper">
                                                    <button class="btn btn-sm btn-success btn_add_comment">Отправить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Footer-->
                                <div class="modal-footer justify-content-center">

                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Закрыть</button>

                                </div>

                            </div>
                            <!--/.Content-->

                        </div>
                    </div>
                    <!--Modal: Name-->

                    <a>
                        @if (canEditPhoto)
                        {
                            <text>
                                <div class="photo_edit_btn"><img src="~/Images/edit.png" /></div>
                            </text>
                        }
                        <div class="text-warning rating_thumb">@avgRating</div>
                        <img class="img-fluid z-depth-1" src="/Images/Photos/@photo.FileName" alt="Фотография"
                             data-toggle="modal" data-target="#main_photo_@i.ToString()">
                    </a>

                </div>
                <!-- Grid column -->
            </text>
        }
    }
    else
    {
        <text>
            <h4 class="text-dark text-center">@placeholder</h4>
        </text>
    }
}
